{% if results is not null %}
    {% if results.results is defined %}
        {% set dataResults = results.results %}
    {% else %}
        {% set dataResults = results %}
    {% endif %}
    {% for result in dataResults %}
        {% if loop.first or loop.index % 5 == 0 %}
            <div class="row">
        {% endif %}
        <div class="col-xs-6 col-md-2 col-lg-2">
            <a href="{{ path('ethnodoc_search', {'id' : result.data.id , 'type' : result.type }) }}?{{ queryParams|url_encode }}" class="thumbnail">
                {% if result.url is defined and result.type == "IcoVideoGraphyNote" and result.url is not null %}
                    <img src="{{ result.url }}" alt="{{ result.data.title }}"/>
                {% elseif result.type != "IcoVideoGraphyNote"%}
                    <div><i class="glyphicon glyphicon-music"></i></div>
                {% endif %}
                <small>{{ result.data.title }}</small>
            </a>
        </div>
        {% if loop.index % 5 == 0 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}