{% extends "::base.html.twig" %}

{% block title %}EthnoDocPublicationBundle:Search:search{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% set queryParams = app.request.query.all %}
            {% block searchbar %}
                <div class="col-md-3 col-xs-4 col-lg-2 col-lg-offset-1" id="facetNav">
                    <h3>Affiner la recherche</h3>
                    <h5>Disponible en ligne</h5>
                    <h5>Consultable dans les centres RADdO</h5>
                    <ul id="descriptors">
                        <li>Genre
                            <ul>
                                <li>
                                    Musical
                                </li>
                                <li>
                                    Iconographique
                                </li>
                                <li>
                                    Videographique
                                </li>
                                <li>
                                    Manuscrit
                                </li>
                            </ul>
                        </li>
                        {% for facetName, facet in facets %}
                            <li>{{ facetName }}
                                <ul>
                                {% for searchTerm in facet.terms %}
                                    <li>
                                        {% set queryString =  app.request.query.all|merge({(facetName): searchTerm.term})|url_encode %}
                                        <a id="{{ searchTerm.term }}" href="{{ path('ethnodoc_search') }}?{{ queryString }}">
                                            {{ searchTerm.term }} ({{ searchTerm.count }})
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {%  endblock %}


            <div id="content" class="col-md-9 col-xs-8 col-lg-6 col-xs-offset-4 col-lg-offset-3 col-md-offset-3">
                <!--search bar-->
                <div class="row">
                    <div id="resultNb" class="col-xs-4">
                        {% if results is not null %}
                            {{ results.totalHits }}
                        {% else %}
                            {{ facets.country.total }}
                        {% endif %}
                            résultats trouvés
                    </div>
                    <div>

                        {#% if selected.country is defined %#}
                            {#{ selected.country }#}
                        {#% endif %#}

                    </div>
                    <form id="search" class="col-xs-8 pull-right form-inline">
                        <div id="searchBar" class="col-xs-8 form-group">
                            <input type="text" class="typeahead form-control" placeholder="Rechercher">
                        </div>
                        <button type="submit" class="btn btn-default">Rechercher</button>
                    </form>
                </div>
                {% block ariane %}
                    <div id="ariane">
                        <ol class="breadcrumb">
                            {% for key, q_selection in queryParams %}
                                <li>
                                    <a href="{{ app.request.uri|replace( { (key) : '', (q_selection) : ''}) }}">
                                        {{ key }} : {{ q_selection }}
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endblock %}
                <hr />
                <!--thumbnails-->
                <div class="col-xs-12 col-md-12 col-lg-12" >
                    <div class="row">
                        {% block searchResult %}
                            {% if results is not null %}
                                {% set dataResults = results.results %}
                                {% for result in dataResults %}
                                <div class="col-xs-4 col-md-4 col-lg-4">
                                    <a href="{{ path('ethnodoc_search', {'id' : result.data.id , 'type' : result.type }) }}?{{ queryParams|url_encode }}" class="thumbnail">
                                        <img src="{{ asset('img/paperboy.jpg') }}" alt="{{ result.data.title }}"/>
                                        <small>{{ result.data.title }}</small>
                                    </a>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var homepath = "{{ path('ethnodoc_autocomplete') }}";
        var searchpath = "{{ path('ethnodoc_search') }}";
    </script>
    <script type="text/javascript" src="{{ asset('js/searchBar.js') }}"></script>
{% endblock %}