{% extends "::base.html.twig" %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% set queryParams = app.request.query.all %}
            {% block searchbar %}
                <div class="col-md-3 col-xs-4 col-lg-2" id="facetNav">
                    <h3>Affiner la recherche</h3>
                    <ul id="descriptors">
                        <!--
                        <li>Genre
                            <ul>
                                <li>
                                    Musical
                                </li>
                                <li>
                                    Iconographique
                                </li>
                                <li>
                                    Videographique
                                </li>
                                <li>
                                    Manuscrit
                                </li>
                            </ul>
                        </li>
                        -->
                        {% for facetName, facet in facets %}
                            <li class="list-unstyled">
                                <span id="{{ facetName }}"><i class="glyphicon glyphicon-plus"></i>&nbsp;{{ facetName }}</span>
                                {% if loop.first %}
                                <ul class="{{ facetName }}descriptors desc" style="display: block">
                                {% else %}
                                <ul class="{{ facetName }}descriptors desc" style="display: none">
                                {% endif %}
                                {% for searchTerm in facet.terms %}
                                    <li class="list-unstyled">
                                        {% set queryString =  app.request.query.all|merge({(facetName): searchTerm.term})|url_encode %}
                                        <i class="glyphicon glyphicon-play"></i>
                                        <a id="{{ searchTerm.term }}" href="{{ path('ethnodoc_search') }}?{{ queryString }}">
                                            {{ searchTerm.term }} ({{ searchTerm.count }})
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {%  endblock %}


            <div id="content" class="col-md-9 col-xs-8 col-lg-10 ">
                <!--search bar-->
                <div class="row">
                    <div id="resultNb" class="col-xs-4">
                        {% if results is not null and results.totalHits is defined %}
                            {% set nbResults = results.totalHits %}
                        {% else %}
                            {% set nbResults = facets.country.total %}
                        {% endif %}
                        {{ nbResults }}
                        {% if nbResults == 1 %}
                            résultat trouvé
                        {% else %}
                            résultats trouvés
                        {% endif %}
                    </div>
                    <!-- Search Form -->
                    <div>
                    {{ form_start(form, {'attr': {'class': 'col-xs-8 pull-right form-inline'} }) }}
                        {{ form_errors(form) }}
                        <div id="searchBar" class="col-xs-8 form-group">
                            {{ form_widget(form.search, {'attr' : {'class' : 'typeahead form-control', 'placeholder' : 'Rechercher'} }) }}
                        </div>
                        {{ form_widget(form.Rechercher, {'attr' : {'class' : 'btn btn-default'} }) }}
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                    </div>
                    <!-- ./search form -->
                </div>
                {% block ariane %}
                    <div id="ariane">
                        {% if queryParams is not empty %}
                        <ol class="breadcrumb">
                            {% for key, q_selection in queryParams %}
                                <li>
                                    <a href="{{ app.request.uri|replace( { (key) : '', (q_selection) : ''}) }}">
                                        {{ key }} : {{ q_selection }}
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                        {% endif %}
                    </div>
                {% endblock %}
                <hr />
                <!--thumbnails-->
                <div class="col-xs-12 col-md-12 col-lg-12" >
                        {% block searchResult %}
                            {% if results is not null %}
                                {% if results.results is defined %}
                                    {% set dataResults = results.results %}
                                {% else %}
                                    {% set dataResults = results %}
                                {% endif %}
                                {% for result in dataResults %}
                                    {% if loop.first or loop.index % 5 == 0 %}
                                        <div class="row">
                                    {% endif %}
                                        <div class="col-xs-6 col-md-2 col-lg-2">
                                            <a href="{{ path('ethnodoc_search', {'id' : result.data.id , 'type' : result.type }) }}?{{ queryParams|url_encode }}" class="thumbnail">
                                                {% if result.type == "IcoVideoGraphyNote" and result.url is not null %}
                                                <img src="{{ result.url }}" alt="{{ result.data.title }}"/>
                                                {% elseif result.type != "IcoVideoGraphyNote"%}
                                                <div><i class="glyphicon glyphicon-music"></i></div>
                                                {% endif %}
                                                <small>{{ result.data.title }}</small>
                                            </a>
                                        </div>
                                    {% if loop.index % 5 == 0 or loop.last %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                </div>
                {% block paginator %}
                    {% set nbPages =  (nbResults / 10)|round %}
                    {% if nbPages == 0 %}
                        {% set nbPages = nbPages + 1%}
                    {% endif %}
                    {% if results is not empty %}
                    <nav>
                        <ul class="pagination">
                            {% for nb in 1..10 %}
                                {% if nb == page %}
                                    <li><a href="{{ path('ethnodoc_search', {'page' : nb}) }}?{{ app.request.query.all|url_encode }}" class="selected-page">{{ nb }}</a></li>
                                {% else %}
                                    <li><a href="{{ path('ethnodoc_search', {'page' : nb}) }}?{{ app.request.query.all|url_encode }}">{{ nb }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                    {% endif %}
                {% endblock %}
            </div>

        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var homepath = "{{ path('ethnodoc_autocomplete') }}";
        var searchpath = "{{ path('ethnodoc_search') }}";
    </script>
    <script type="text/javascript" src="{{ asset('js/searchBar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/facet.js') }}"></script>
{% endblock %}